<!DOCTYPE html>
<html>
<head>
    <title>Contact Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Contact Us</h1>

    <form action="/save-name" method="POST">
        <label>Name :</label>
        <input type="text"  class="name" name="name" placeholder="Enter your name" required></input>
        <br>
        <br>
        <label>Email :</label>
        <input type="email" id="email" name="email" placeholder="Enter your password" required></input>
        <br>
        <br>
        <label>Subject:</label>
        <input type="text" id="subject" name="subject" placeholder="Enter the subject" ></input>
        <br>
        <br>
        <label>Message</label>
        <input type="text" id="message" name="message" placeholder="Enter the message" ></input>
        <br>
        <br>
        <button type="submit">Submit</button>
        <img src="/images/img-2.jpg" alt="Image 1">

 </form>

<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
